<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>어드민 메인 화면</title>

<style>
    .larger-button {
        width: 200px;
        height: 50px;
        background-color: silver;
    }
</style>

</head>
<body>
	
	<h2 align="center">어드민 메인화면</h2>
	
	<form action="allUserView" method="post" align="center">
		 	 <button class="larger-button">전체 회원 조회</button>
	</form>
	
	<br><br>
	<form action="adminMain" method="post" align="center">
		 	 <button class="larger-button">전체 강사 조회</button>
	</form>
	
	<br><br>
	<form action="adminMain" method="post" align="center">
		 	 <button class="larger-button">강사 등록 확인</button>
	</form>
	
</body>
</html>