<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<style>
    .larger-button {
        width: 200px;
        height: 50px;
        background-color: silver;
    }
</style>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h2 align="center" th:text="|${username}님 환영합니다!|"></h2>
	<hr>
	
	<br>
	<div id="roleField" style="display: none;" align="center">
		 <div id="roleElement" th:text="${role}" style="display: none;"></div>
		 
		 <form action="adminMain" method="get">
		 	 <button class="larger-button">관리자 페이지로 이동</button>
		 </form>
		 
	</div>	
	<br>
	
	<form action="myPage" method="get" align="center">
	    <button>마이페이지</button>
	</form>
	
	<br>
	<form action="recharge" method="post" align="center">
		<button>토큰 충전하기</button>
	</form>
	
	<h2 align="center">강사로 등록하고 클래스를 등록해보세요!</h2>
	<hr>
	
	<form action="upgradeLector" method="get" align="center">
	    <button>강사 등록하기</button>
	</form>
	
	<br><br><br>
	<form action="logout" method="get" align="center">
	    <button>로그아웃</button>
	</form>

<script>
	var roleElement = document.getElementById("roleElement");
	
	if(roleElement.textContent.includes("ADMIN")) {
		document.getElementById("roleField").style.display = "block";
		
	} else {
		document.getElementById("roleField").style.display = "none";
	}

</script>
	
</body>
</html>