<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        flex-direction: column; /* 추가 */
    }

    form {
        text-align: center;
        display: inline-block;
    }
    
    .larger-button {
        width: 200px;
        height: 50px;
        background-color: silver;
    }	
    
    #password {
		width: 300px;
		height: 40px;
		font-size: 16px;
	}
    
</style>

</head>
<body>
    <h2 align="center">회원 탈퇴</h2>
    <br><br>

    <form action="passwordCheckBeforeDeleteProc" method="post" onsubmit="return validateForm()">
        
        <table>
        
            <tr>
                <td style="font-size: 22px;">
                	비밀번호 확인
                </td>
            </tr>
            
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      
            <tr>
                <td>
                	<input type="password" id="password" name="password" 
                				placeholder="비밀번호 입력" oninput="checkPassword()">
                	<div id="passwordError" style="color: red;"></div>
                </td>
            </tr>
            	
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	
            <tr>    
                <td>
                	<button type="submit" class="larger-button">확인</button>
                </td>
            </tr>
            
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            
            <tr>    
                <td>
                	<button type="button" onclick="location_href()" class="larger-button">취소</button>
                </td>
            </tr>
            
        </table>
        
    </form>
    
    <div id="msg" th:text="${msg}" style="display: none;"></div>
    
<script>
	
	function location_href() {
		window.location.href = "myPage";
	}
	
	
	function checkPassword() {
	
		var password = document.getElementById("password").value;
		
		var num = password.search(/[0-9]/g);
		var eng = password.search(/[a-z]/ig);
		var spe = password.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
		var passwordError = document.getElementById("passwordError");
	
		if (password.length < 8) {
			passwordError.innerText = "비밀번호는 8자 이상이어야 합니다.";
			passwordError.style.display = "block";
			document.getElementById("newPassword").style.border = "1px solid red";
	
		} else if (num === -1 || eng === -1 || spe === -1) {
			passwordError.innerText = "비밀번호는 숫자, 영문자, 특수문자를 모두 포함해야 합니다.";
			passwordError.style.display = "block";
			document.getElementById("newPassword").style.border = "1px solid red";
	
		} else {
			passwordError.style.display = "none";
			document.getElementById("newPassword").style.border = "1px solid blue";
		}
	}

    function validateForm() {

		var password = document.getElementById("password").value;

		if (password.trim() === "") {
			alert("현재 비밀번호를 입력해주세요.");
			return false;
		}
		
		return true;
	}
    
    function msg() {
		var msgElement = document.getElementById("msg");
		var msg = msgElement.innerText;

		if(msg != '') {
			alert(msg);
		}
	}
	
	msg();
    
</script>
    
    
    
</body>
</html>