<!DOCTYPE html>
<html>
<head>

<style>
    .larger-button {
        width: 200px;
        height: 50px;
        background-color: silver;
    }	
</style>


<meta charset="UTF-8">
<title>강사 전용 페이지</title>
</head>
<body>

	<br>
	<h2 align="center">강사 전용 페이지</h2>
	
	<br><br>
	<form action="lectorMypage" method="get" align="center">
		<button class="larger-button">마이페이지</button>
	</form>
	
	<br><br>
	<form action="courseLecture" method="get" align="center">
		<button class="larger-button">강의 등록하기</button>
	</form>
	
	<br><br>
	<form action="lectureManagement" method="get" align="center">
		<button class="larger-button">등록한 강의 관리</button>
	</form>
	
	<br><br>
	<form action="myRentalList" method="get" align="center">
		<button class="larger-button">연습실 대여 관리</button>
	</form>
	
	<br><br>
	<form action="exchangeToken" method="get" align="center">
		<button class="larger-button">토큰 교환</button>
	</form>
	
	<br><br>
	<form action="loginSuccess" method="get" align="center">
		<button class="larger-button">돌아가기</button>
	</form>
	
	<br><br><br>
	<form action="logout" method="get" align="center">
	    <button>로그아웃</button>
	</form>
	
</body>
</html>